<launch>
    <rosparam file="$(find lbr_fri_ros)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find lbr_fri_ros)/config/hardware.yaml" command="load"/>

    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="robot_name" default="lbr"/>
    <arg name="model" default="med7"/>

    <!-- Load the URDF into the ROS Parameter Server -->
    <include file="$(find lbr_description)/launch/$(arg model)_upload.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
        joint_state_controller
        follow_joint_trajectory
    "/> -->

    <!-- Spawn controllers - it uses a JointTrajectoryController -->
    <include file="$(find lbr_control)/launch/lbr_control.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)" />
        <arg name="controllers" value="joint_state_controller $(arg hardware_interface)_trajectory_controller"/>
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="model" value="$(arg model)"/>
    </include>

    <!-- joint_position_controller, joint_group_position_controller, follow_joint_trajectory -->

    <node name="lbr_fri_ros_node" pkg="lbr_fri_ros" type="lbr_fri_ros_node" output="screen"/>

    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">  
    </node> -->
</launch>
