<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="lbr_transmission" params="hardware_interface robot_name">

    <!-- joint 1 -->
    <transmission name="tran_1">
        <robotNamespace>/${robot_name}</robotNamespace>
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_1">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
        </joint>
        <actuator name="motor_1">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- joint 2 -->
    <transmission name="tran_2">
        <robotNamespace>/${robot_name}</robotNamespace>
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_2">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
        </joint>
        <actuator name="motor_2">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- joint 3 -->
    <transmission name="tran_3">
        <robotNamespace>/${robot_name}</robotNamespace>
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_3">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
        </joint>
        <actuator name="motor_3">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- joint 4 -->
    <transmission name="tran_4">
        <robotNamespace>/${robot_name}</robotNamespace>
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_4">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
        </joint>
        <actuator name="motor_4">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- joint 5 -->
    <transmission name="tran_5">
        <robotNamespace>/${robot_name}</robotNamespace>
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_5">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
        </joint>
        <actuator name="motor_5">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- joint 6 -->
    <transmission name="tran_6">
        <robotNamespace>/${robot_name}</robotNamespace>
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_6">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
        </joint>
        <actuator name="motor_6">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- joint 7 -->
    <transmission name="tran_7">
        <robotNamespace>/${robot_name}</robotNamespace>
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_7">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
        </joint>
        <actuator name="motor_7">
            <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    </xacro:macro>

</robot>
