<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="lbr_gazebo" params="robot_name:=^|lbr">

        <!-- ros_control-plugin -->
        <gazebo>
            <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
                <parameters>$(find lbr_ros2_control)/config/lbr_controllers.yaml</parameters>
                <ros>
                    <namespace>/${robot_name}</namespace>
                    <!-- remapping for controller manager inside Gazebo plugin -->
                    <remapping>~/robot_description:=robot_description</remapping>
                </ros>
            </plugin>
        </gazebo>

        <!-- macros -->
        <xacro:macro name="gazebo_link_reference" params="name">
            <gazebo reference="${name}">
                <mu1>0.2</mu1>
                <mu2>0.2</mu2>
            </gazebo>
        </xacro:macro>

        <xacro:macro name="gazebo_joint_reference" params="name">
            <gazebo reference="${name}">
                <implicitSpringDamper>true</implicitSpringDamper>
                <provideFeedback>true</provideFeedback>
            </gazebo>
        </xacro:macro>

        <!-- references -->
        <xacro:gazebo_link_reference name="link_0" />
        <xacro:gazebo_joint_reference name="A1" />
        <xacro:gazebo_link_reference name="link_1" />
        <xacro:gazebo_joint_reference name="A2" />
        <xacro:gazebo_link_reference name="link_2" />
        <xacro:gazebo_joint_reference name="A3" />
        <xacro:gazebo_link_reference name="link_3" />
        <xacro:gazebo_joint_reference name="A4" />
        <xacro:gazebo_link_reference name="link_4" />
        <xacro:gazebo_joint_reference name="A5" />
        <xacro:gazebo_link_reference name="link_5" />
        <xacro:gazebo_joint_reference name="A6" />
        <xacro:gazebo_link_reference name="link_6" />
        <xacro:gazebo_joint_reference name="A7" />
        <xacro:gazebo_link_reference name="link_7" />
    </xacro:macro>
</robot>