<?xml version="1.0"?>

<!-- top level -->
<robot name="iiwa14" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr iiwa macro -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa14/iiwa14_description.urdf.xacro" />

    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg name="port_id" default="30200" />
    <xacro:arg name="sim" default="true" />

    <!-- fixed to world, see http://classic.gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros -->
    <link name="world" />

    <!--joint
        between world and link_0-->
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="link_0" />
    </joint>

    <!-- iiwa -->
    <xacro:iiwa14 robot_name="$(arg robot_name)" port_id="$(arg port_id)" sim="$(arg sim)" />
</robot>