<launch>
  <rosparam command="load" file="$(find fusion2urdf)/launch/LBR_controller.yaml"/>
  <node args="Rev2_position_controller Rev3_position_controller Rev4_position_controller Rev5_position_controller Rev6_position_controller Rev7_position_controller Rev8_position_controller joint_state_controller" name="controller_spawner" ns="LBR" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
  <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
    <remap from="/joint_states" to="/LBR/joint_states"/>
  </node>
</launch>
