<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa14">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import iiwa14 urdf file -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa14/iiwa14.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="iiwa14.ros2_control.xacro" />


    <xacro:iiwa14_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
