<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="lbr_system_interface"
        params="robot_name mode system_config_path initial_joint_positions_path">

        <!-- load system parameters via yaml -->
        <xacro:property name="system_config"
            value="${xacro.load_yaml(system_config_path)}" />
        
        <!-- load initial positions via yaml for mock/gazebo simulation -->
        <xacro:property name="initial_joint_positions"
            value="${xacro.load_yaml(initial_joint_positions_path)}" />

        <!-- constants -->
        <xacro:property name="PI" value="3.1415926535897931" />

        <ros2_control name="${robot_name}_system_interface" type="system">
            <!-- load plugin depending on mode -->
            <xacro:if value="${mode == 'mock'}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:if value="${mode == 'gazebo'}">
                <hardware>
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:if value="${mode == 'hardware'}">
                <hardware>
                    <plugin>lbr_ros2_control::SystemInterface</plugin>
                    <param name="fri_client_sdk_major_version">${system_config['fri_client_sdk']['major_version']}</param>
                    <param name="fri_client_sdk_minor_version">${system_config['fri_client_sdk']['minor_version']}</param>
                    <param name="client_command_mode">${system_config['client_command_mode']}</param>
                    <param name="port_id">${system_config['port_id']}</param>
                    <param name="remote_host">${system_config['remote_host']}</param>
                    <param name="rt_prio">${system_config['rt_prio']}</param>
                    <param name="joint_position_tau">${system_config['joint_position_tau']}</param>
                    <param name="command_guard_variant">${system_config['command_guard']['variant']}</param>
                    <param name="state_guard_external_torque_safety_check">${system_config['state_guard']['external_torque_safety_check']}</param>
                    <param name="state_guard_external_torque_limit">${system_config['state_guard']['external_torque_limit']}</param>
                    <param name="external_torque_tau">${system_config['external_torque_tau']}</param>
                    <param name="measured_torque_tau">${system_config['measured_torque_tau']}</param>
                    <param name="open_loop">${system_config['open_loop']}</param>
                </hardware>
            </xacro:if>

            <!-- define lbr specific state interfaces as sensor, see
            https://github.com/ros-controls/roadmap/blob/master/design_drafts/components_architecture_and_urdf_examples.md -->
            <xacro:if value="${mode == 'hardware'}">
                <sensor name="auxiliary_sensor">
                    <!-- see KUKA::FRI::LBRState -->
                    <state_interface name="sample_time" />
                    <state_interface name="session_state" />
                    <state_interface name="connection_quality" />
                    <state_interface name="safety_state" />
                    <state_interface name="operation_mode" />
                    <state_interface name="drive_state" />
                    <state_interface name="client_command_mode" />
                    <state_interface name="overlay_type" />
                    <state_interface name="control_mode" />
                    <state_interface name="time_stamp_sec" />
                    <state_interface name="time_stamp_nano_sec" />
                    <state_interface name="tracking_performance" />
                </sensor>

                <!-- FRI Cartesian impedance control mode -->
                <gpio
                    name="wrench">
                    <command_interface name="force.x" />
                    <command_interface name="force.y" />
                    <command_interface name="force.z" />
                    <command_interface name="torque.x" />
                    <command_interface name="torque.y" />
                    <command_interface name="torque.z" />
                </gpio>
            </xacro:if>

            <!-- define joints and command/state interfaces for each joint -->
            <xacro:macro name="joint_interface"
                params="name mode initial_position">
                <joint name="${name}">
                    <command_interface name="position"/>
                    <!-- only single command interface, refer
                    https://github.com/ros-controls/gz_ros2_control/issues/182 -->
                    <xacro:unless value="${mode == 'gazebo'}">
                        <command_interface name="effort"/>
                    </xacro:unless>
                    <state_interface name="position"> 
                      <param name="initial_value">${initial_position}</param>
                    </state_interface>
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                    <xacro:if value="${mode == 'hardware'}">
                        <xacro:if
                            value="${system_config['fri_client_sdk']['major_version'] == 1}">
                            <state_interface name="commanded_joint_position" />
                        </xacro:if>
                        <state_interface name="commanded_torque" />
                        <state_interface name="external_torque" />
                        <state_interface name="ipo_joint_position" />
                    </xacro:if>
                </joint>
            </xacro:macro>

            <xacro:joint_interface name="${robot_name}_A1"
                mode="${mode}" 
                initial_position="${initial_joint_positions['A1'] * PI / 180}" />
            <xacro:joint_interface name="${robot_name}_A2"
                mode="${mode}" 
                initial_position="${initial_joint_positions['A2'] * PI / 180}" />
            <xacro:joint_interface name="${robot_name}_A3"
                mode="${mode}" 
                initial_position="${initial_joint_positions['A3'] * PI / 180}" />
            <xacro:joint_interface name="${robot_name}_A4"
                mode="${mode}" 
                initial_position="${initial_joint_positions['A4'] * PI / 180}"/>
            <xacro:joint_interface name="${robot_name}_A5"
                mode="${mode}" 
                initial_position="${initial_joint_positions['A5'] * PI / 180}"/>
            <xacro:joint_interface name="${robot_name}_A6"
                mode="${mode}" 
                initial_position="${initial_joint_positions['A6'] * PI / 180}" />
            <xacro:joint_interface name="${robot_name}_A7"
                mode="${mode}" 
                initial_position="${initial_joint_positions['A7'] * PI / 180}" />
        </ros2_control>
    </xacro:macro>
</robot>
