<launch>

    <!-- define arguments -->
    <arg name="sim" default="true"/>
    <arg name="hardware_interface" default="PositionJointInterface" />
    <arg name="robot_name" default="lbr" />
    <arg name="model" default="med7"/>

    <!-- load fri node or simulation -->
    <group if="$(arg sim)">
        <include file="$(find lbr_gazebo)/launch/lbr_gazebo.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)"/>
        </include>
    </group>

    <!-- load movegroup -->
    <group ns="$(arg robot_name)">
        <include file="$(find lbr_moveit)/launch/move_group.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)"/>
            <arg name="robot_name" default="lbr"/>
            <arg name="model" value="$(arg model)"/>
        </include>
        <!-- <include file="$(find lbr_moveit)/launch/moveit_rviz.launch"/> -->
    </group>

    <!-- Spawn controller - simple pose controller -->
    <group ns="$(arg robot_name)">

        <include file="$(find lbr_control)/launch/cartesian_pose.launch"/>

    </group>        

</launch>
