<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="lbr_hardware_interface"
        params="
        A1_position_limit
        A2_position_limit
        A3_position_limit
        A4_position_limit
        A5_position_limit
        A6_position_limit
        A7_position_limit
        effort_limit
        sim:=^|true remote_host:=^|INADDR_ANY port_id:=^|30200 sample_time:=^|10 robot_name:=^|lbr">
        <!-- arg for control mode -->

        <ros2_control name="lbr_hardware_interface" type="system">
            <!-- define hardware including parameters, also gazebo -->
            <xacro:if value="${sim}">
                <hardware>
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:unless value="${sim}">
                <hardware>
                    <plugin>lbr_hardware_interface::LBRHardwareInterface</plugin>
                    <param name="remote_host">${remote_host}</param>
                    <param name="port_id">${port_id}</param>
                    <param name="sample_time">${sample_time}</param>
                    <param name="robot_name">${robot_name}</param>
                </hardware>
            </xacro:unless>

            <!-- define lbr specific state interfaces as sensor, see
            https://github.com/ros-controls/roadmap/blob/master/design_drafts/components_architecture_and_urdf_examples.md -->
            <xacro:unless value="${sim}">
                <sensor name="fri_sensor">
                    <!-- see KUKA::FRI::LBRState -->
                    <state_interface name="sample_time" />
                    <state_interface name="session_state" />
                    <state_interface name="connection_quality" />
                    <state_interface name="safety_state" />
                    <state_interface name="operation_mode" />
                    <state_interface name="drive_state" />
                    <state_interface name="client_command_mode" />
                    <state_interface name="overlay_type" />
                    <state_interface name="control_mode" />

                    <state_interface name="time_stamp_sec" />
                    <state_interface name="time_stamp_nano_sec" />

                    <state_interface name="tracking_performance" />
                </sensor>
            </xacro:unless>

            <!-- define joints and command/state interfaces for each joint -->
            <xacro:macro name="joint_interface"
                params="name min_position max_position effort_limit sim">
                <joint name="${name}">
                    <command_interface name="position">
                        <param name="min">${min_position}</param>
                        <param name="max">${max_position}</param>
                    </command_interface>
                    <command_interface name="effort">
                        <param name="min">-${effort_limit}</param>
                        <param name="max"> ${effort_limit}</param>
                    </command_interface>
                    <state_interface name="position" />
                    <state_interface name="velocity" />
                    <state_interface name="effort" />
                    <xacro:unless value="${sim}">
                        <state_interface name="commanded_joint_position" />
                        <state_interface name="commanded_torque" />
                        <state_interface name="external_torque" />
                        <state_interface name="ipo_joint_position" />
                    </xacro:unless>
                </joint>
            </xacro:macro>

            <xacro:joint_interface name="A1" min_position="-${A1_position_limit}"
                max_position="${A1_position_limit}" effort_limit="${effort_limit}" sim="${sim}" />
            <xacro:joint_interface name="A2" min_position="-${A2_position_limit}"
                max_position="${A2_position_limit}" effort_limit="${effort_limit}" sim="${sim}" />
            <xacro:joint_interface name="A3" min_position="-${A3_position_limit}"
                max_position="${A3_position_limit}" effort_limit="${effort_limit}" sim="${sim}" />
            <xacro:joint_interface name="A4" min_position="-${A4_position_limit}"
                max_position="${A4_position_limit}" effort_limit="${effort_limit}" sim="${sim}" />
            <xacro:joint_interface name="A5" min_position="-${A5_position_limit}"
                max_position="${A5_position_limit}" effort_limit="${effort_limit}" sim="${sim}" />
            <xacro:joint_interface name="A6" min_position="-${A6_position_limit}"
                max_position="${A6_position_limit}" effort_limit="${effort_limit}" sim="${sim}" />
            <xacro:joint_interface name="A7" min_position="-${A7_position_limit}"
                max_position="${A7_position_limit}" effort_limit="${effort_limit}" sim="${sim}" />
        </ros2_control>
    </xacro:macro>
</robot>