<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="lbr_hardware_interface" params="sim:=^|true operation_mode:=^|TEST_MODE_1 remote_host:=^|INADDR_ANY port:=^|30200 robot_name:=^|lbr">
        <!-- arg for control mode -->

        <ros2_control name="lbr_hardware_interface" type="system">
            <!-- define hardware including parameters, also gazebo -->
            <xacro:if value="${sim}">
                <hardware>
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:unless value="${sim}">
                <hardware>
                    <plugin>LBR::FRIHardwareInterface</plugin>
                    <param name="operation_mode">${operation_mode}</param>
                    <param name="remote_host">${remote_host}</param>
                    <param name="port">${port}</param>
                </hardware>
            </xacro:unless>

            <!-- define joints and command/state interfaces for each joint -->
            <joint name="${robot_name}_joint_0">
                <command_interface name="position">
                    <!-- better to use radians as min max first -->
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${robot_name}_joint_1">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${robot_name}_joint_2">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${robot_name}_joint_3">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${robot_name}_joint_4">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${robot_name}_joint_5">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="${robot_name}_joint_6">
                <command_interface name="position">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max"> 1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
